<div id="game">

  <%if @winner %>
    <div class="alert alert-success"><%=@winner%></div>
  <% end %>
  <%if @loser %>
    <div class="alert alert-danger"><%=@loser%></div>
  <% end %>

  <div class="well">
    <h5>Dealer's cards are: </h5>
    <% if @dealer_turn %>
      <ul class="cards">
        <% session[:dealer_cards].each do |card| %>
          <li><%= card_image(card) %></li>
        <% end %>
      </ul>
    <% else %>
      <ul class="cards">
        <% session[:dealer_cards].each_with_index do |card, index| %>
          <% if index == 0 %>
            <li><%= card_image(card) %></li>
          <% else %>
            <li><img src='/images/cards/cover.jpg'></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <% if @dealer_turn %>
      <h5><%= @dealer_message %></h5>
      <p>Dealer's total hand value is <%= calculate_value_of_hand(session[:dealer_cards]) %>.</p>
    <% end %>

    <% if @show_dealer_hit_button %>
      <form id="dealer-hit" action="/game/dealer/hit" method="post">
        <input type="submit" class="btn btn-primary" value="See what happens next &rarr;">
      </form>
    <% end %>

  </div>

  <div class="well">
    <h5><%= session[:player_name] %>'s cards are: </h5>
    <ul class="cards">
      <% session[:player_cards].each do |card| %>
        <li><%= card_image(card) %></li>
      <% end %>
    </ul>
    <p>Your total hand value is <%= calculate_value_of_hand(session[:player_cards]) %>.</p>

    <% if @show_hit_or_stay_buttons %>
      <h4>What would you like to do?</h4>
      <ul class="action-buttons">
        <li>
          <form id="hit-form" action="/game/player/hit" method="post">
            <button type="submit" class="btn btn-default">Hit</button>
          </form>
        </li>
        <li>
          <form id="stay-form" action="/game/player/stay" method="post">
            <button type="submit" class="btn btn-default">Stay</button>
          </form>
        </li>
      </ul>
    <% end %>
  </div>
</div>