<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/application.js"></script>
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/new_player">Blackjack</a>
        </div>
        <% if !@new_player %>
        <ul class="nav navbar-nav navbar-right">
          <li class="bet-score">Currently betting: $<%= session[:bet_amount] %></li>
          <li class="bet-score"><%= session[:player_name] %>'s cash total: $<%= session[:cash_remaining] %></li>
          <li><%= session[:player_name] %>'s score: <%= session[:scoreboard][:player] %></li>
          <li>Dealer's score: <%= session[:scoreboard][:dealer] %></li>
        </ul>
        <% end %>
      </div>
    </nav>

    <div class="container">

      <%if @success %>
        <div class="alert alert-success"><%=@success%></div>
      <% end %>
      <%if @error %>
        <div class="alert alert-danger"><%=@error%></div>
      <% end %>

        <%= yield %>
    </div>
  </body>
</html>
