<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Blackjack</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <%if @winner == session[:player_name] %>
        <div class="alert alert-success"><%= "#{@winner.capitalize} wins! <a href='/game' class='alert-link'>Play again?</a>" %></div>
      <% elsif @winner == "dealer" %>
        <div class="alert alert-danger"><%= "Awww, #{@winner.capitalize} wins... <a href='/game' class='alert-link'>Play again?</a>" %></div>
      <% elsif @winner == "tie" %>
        <div class="alert alert-info"><%= "Hey, it was a tie! <a href='/game' class='alert-link'>Play again?</a>" %></div>
      <% end %>

      <%if @win %>
        <div class="alert alert-success"><%=@win%></div>
      <% end %>
      <%if @lose %>
        <div class="alert alert-danger"><%=@lose%></div>
      <% end %>
      <%if @error %>
        <div class="alert alert-danger"><%=@error%></div>
      <% end %>
      <%if @info %>
        <div class="alert alert-info"><%=@info%></div>
      <% end %>

        <%= yield %>
    </div>
  </body>
</html>
